<?xml version="1.0" encoding="UTF-8"?>
<dish>
<dish	menutype=	"0"	Name=	"	Veg Meals	"	Price=	"	60	"	/>
<dish	menutype=	"0"	Name=	"	Chapathi	"	Price=	"	30	"	/>
<dish	menutype=	"0"	Name=	"	Mini Meals	"	Price=	"	50	"	/>
<dish	menutype=	"0"	Name=	"	Paratha	"	Price=	"	40	"	/>
<dish	menutype=	"0"	Name=	"	Veg Kurma	"	Price=	"	20	"	/>
<dish	menutype=	"0"	Name=	"	Gobi Fry	"	Price=	"	50	"	/>
<dish	menutype=	"0"	Name=	"	Kadai Vegetables	"	Price=	"	40	"	/>
<dish	menutype=	"0"	Name=	"	Soup of The Day	"	Price=	"	40	"	/>
<dish	menutype=	"0"	Name=	"	Fresh Juice	"	Price=	"	40	"	/>
<dish	menutype=	"1"	Name=	"	Non Veg Meals	"	Price=	"	90	"	/>
<dish	menutype=	"1"	Name=	"	Chapathi	"	Price=	"	80	"	/>
<dish	menutype=	"1"	Name=	"	Mini Meals	"	Price=	"	90	"	/>
<dish	menutype=	"1"	Name=	"	Paratha	"	Price=	"	100	"	/>
<dish	menutype=	"1"	Name=	"	Chicken Masala	"	Price=	"	90	"	/>
<dish	menutype=	"1"	Name=	"	Chicken 65	"	Price=	"	90	"	/>
<dish	menutype=	"1"	Name=	"	Kadai Chicken	"	Price=	"	100	"	/>
<dish	menutype=	"1"	Name=	"	Soup of the Day	"	Price=	"	40	"	/>
<dish	menutype=	"1"	Name=	"	Fresh Juice	"	Price=	"	40	"	/>
<dish	menutype=	"2"	Name=	"	Protien Shake	"	Price=	"	140	"	/>
<dish	menutype=	"2"	Name=	"	Egg White Omlet	"	Price=	"	40	"	/>
<dish	menutype=	"2"	Name=	"	Oatmeal	"	Price=	"	40	"	/>
<dish	menutype=	"2"	Name=	"	Sugar Free Ice Cream	"	Price=	"	50	"	/>
<dish	menutype=	"2"	Name=	"	Fresh Juice	"	Price=	"	40	"	/>
<dish	menutype=	"2"	Name=	"	Veg Sandwich	"	Price=	"	60	"	/>
<dish	menutype=	"2"	Name=	"	Chicken Sandwich	"	Price=	"	80	"	/>
<dish	menutype=	"2"	Name=	"	Veg Salad	"	Price=	"	90	"	/>
<dish	menutype=	"2"	Name=	"	Chicken Salad	"	Price=	"	140	"	/>
</dish>